


body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

header,footer {
    background-color: blueviolet;
   }

   h1.site-title {
    color: pink;
   }

   #myimage{
    box-shadow: 0 0 2px 1px black; 
    width: 200px ;
    height: 200px ;
   }

   main>ul>li{
    list-style-type: square;
   } 

   main>ul>li:nth-child(odd){
    background-color: brown;
   }

   nav ul{
    list-style-type: none;
   }

   nav a{ 
    text-decoration: none;
    background-color: yellow;
   }

   nav a:hover{
    background-color: blueviolet;
   }